<html>

<body>
<img id="gato" class="gato3" src="https://www.stickpng.com/assets/images/5a5a8d8d14d8c4188e0b08ef.png" width=80>

<img id="copo1" class="copo1" src="https://upload.wikimedia.org/wikipedia/commons/4/40/Copo-laranja.png" style="transform:rotate(180deg);">

<img id="copo2" class="copo2" src="https://upload.wikimedia.org/wikipedia/commons/4/40/Copo-laranja.png" style="transform:rotate(180deg);">

<img id="copo3" class="copo3" src="https://upload.wikimedia.org/wikipedia/commons/4/40/Copo-laranja.png" style="transform:rotate(180deg);">


{{{body}}}


<style>
.copo1{
  position: absolute;
  top:  0px;
  left: 0px;
}
.copo2{
  position: absolute;
  top:  0px;
  left: 160px;
}
.copo3{
  position: absolute;
  top:  0px;
  left: 320px;
}
.gato1{
  position: absolute;
  top: 60px;
  left: 42px;
}
.gato2{
  position: absolute;
  top: 60px;
  left: 200px;
}
.gato3{
  position: absolute;
  top: 60px;
  left: 360px;
}
h2 {
  position: absolute;
  left: 67px;
  top: 150px;
}

</style>
</body>
</html>
