<h2> ('w') </h2>

<meta http-equiv="refresh" content="5">

<script>
console.log({{coponr}});
document.getElementById("gato").className = "gato" + {{coponr}};
document.getElementById("copo" + {{coponr}}).style.display = "none";
</script>
